<!---- Footer ---->
<footer class="footer" id="footer-content">
  <div class="container-fluid" id="footer">
  <!--- Row for chevron navigation to top --->
  <div class="row justify-content-end toTop pr-2">
    <a href="#"><i class="fas fa-chevron-up"></i></a>
  </div>

  <!--- Row for social items --->
  <div class="row justify-content-center p-2">
    {% include social.html %}
  </div>

  <!--- Row for footer text items --->
  <div class="row justify-content-around">
    <div class="col-md-4 align-self-baseline">
      <h3 class="text-center">About</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-md-4 align-self-baseline">
      <h3 class="text-center">Getting Started</h3>
      <p class="text-center">CAP-oma</p>
      <p class="text-center">CAP-emia</p>
      <p class="text-center">CAP-ex</p>
    </div>
    <div class="col-md-4 align-self-baseline">
      <h3 class="text-center">Contact</h3>
      <p class="text-center">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>

  <!--- row for sub-footer --->
  <div class="row justify-content-between" id=sub-footer>
    <div class="align-self-center">
      <h3 class="pl-4 text-center">{{ site.slogan }}</h3>
    </div>
    <div class="align-self-center pr-4">
      <i class="fab fa-creative-commons"></i>
      <span>
        Griffith Lab 2018
      </span>
    </div>
  </div>
</div>
</footer>

<!-- Bootstrap Related Scripts -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="/assets/jquery/dist/jquery.min.js"></script>
<script src="/assets/popper.js/dist/popper.min.js"></script>
<script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Custom Scripts -->
<script src="/assets/scripts/toTop.js"></script>
